.Country-Nav {
  background-color: #376093;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  padding: 3px 10px;
  letter-spacing: 0.5px;
}

.Countries-Cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #227eed;
  padding: 10px;
  column-gap: 10px;
  row-gap: 10px;
}

.Country-Data {
  background-color: #398ff0;
  border-radius: 5px;
  padding: 10px;
}

.Country-Link {
  color: #fff;
  text-decoration: none;
}

.Search {
  padding: 5px 10px;
  width: 60%;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: #7eb4f5;
  opacity: 0.7;
  color: #fff;
  font-weight: bold;
}

.Search:focus {
  outline: none;
}
